@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* @apply p-10 */
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hero_ {
  background-image: url("/");
}

/* media query */
@media (max-width : 1287px) {
  .nav {
    display: none !important;
  }
  .bar {
    display: block !important;
  }
}